<!DOCTYPE html>
<html lang="en">
  <%- include('./components/Head', { title: 'PokéHeart | Laboratory' }) %>
<body>
  <%- include('./components/Navbar', { genre: trainer.genre, name: trainer.name, pokedex: false}) %>
  <h1 class="m-3">Laboratório</h1>
  <div class="container">
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
      <div id="liveToast" class="toast text-white bg-success" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong id="message-title" class="me-auto"></strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          <p id="capturado-message"></p>
        </div>
      </div>
    </div>
    <script>
      const toastLiveExample = document.querySelector('#liveToast')
      const messageTitle = document.querySelector('#message-title')
      const message = document.querySelector('#capturado-message');
      </script>
    <% fragments.forEach((frag) => { %>
      <% if(frag.fragment === "fire" || frag.fragment === "fairy"){ %>
        <span class="badge rounded-pill bg-danger fragment"><%= frag.fragment.toUpperCase() %> | <%= frag.counter %></span>
      <% }else if(frag.fragment === "grass" || frag.fragment === "bug"){ %>
        <span class="badge rounded-pill bg-success fragment"><%= frag.fragment.toUpperCase() %> | <%= frag.counter %></span>
      <% }else if(frag.fragment === "poison" || frag.fragment === "psychic" || frag.fragment === "dark" || frag.fragment === "ghost") { %>
        <span class="badge rounded-pill bg-dark fragment"><%= frag.fragment.toUpperCase() %> | <%= frag.counter %></span>
      <% }else if(frag.fragment === "water" || frag.fragment === "flying"){ %>
        <span class="badge rounded-pill bg-info fragment"><%= frag.fragment.toUpperCase() %> | <%= frag.counter %></span>
      <% }else if(frag.fragment === "electric"){%>
        <span class="badge rounded-pill bg-warning fragment"><%= frag.fragment.toUpperCase() %> | <%= frag.counter %></span>
      <%}else if(frag.fragment === "rock" || frag.fragment === "ground" || frag.fragment === "fighting"){ %>
        <span class="badge rounded-pill bg-secondary fragment"><%= frag.fragment.toUpperCase() %> | <%= frag.counter %></span>
      <% }else {%>
        <span class="badge rounded-pill bg-primary fragment"><%= frag.fragment.toUpperCase() %> | <%= frag.counter %></span>
      <% } %>
    <% }) %>
</div>
  <hr>
  <div class="container mt-3 d-flex flex-wrap justify-content-center">
    <% if(pokedex.length >= 1){ %>
    <% pokedex.forEach((pokemon, index) => { %>
      <div class="card text-center m-2" id="pokemon-pokedex-<%= index %>" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= pokemon.name.toUpperCase() %></h5>
          <img src="<%= pokemon.imageUrl %>" class="img-thumbnail" width="150" alt="Profile Avatar">
          <p class="d-flex align-items-center justify-content-center m-1 pokemon-cp"><ion-icon name="flash-outline"></ion-icon> <%= pokemon.cp.toLocaleString() %></p>
          <div class="d-flex align-items-center justify-content-between">
            <% if(pokedex.length === 1){ %>
            <button type="button" class="btn btn-secondary d-flex align-items-center justify-content-center" disabled><ion-icon name="arrow-up-circle-outline" style="font-size: 20px;"></ion-icon></ion-icon></button>
            <% }else{ %>
              <button type="button" id="pokemon-button-<%= index %>" class="btn btn-primary d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#pokemon-modal-<%= index %>"><ion-icon name="arrow-up-circle-outline" style="font-size: 20px;"></ion-icon></ion-icon></button>
              <form id="fortalecer-form-<%= index %>">
              <div class="modal fade" id="pokemon-modal-<%= index %>" tabindex="-1" aria-labelledby="pokemon-modal-<%= index %>" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Fortalecer <%= pokemon.name.toUpperCase() %></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="pokemon-modal-body-<%= index %>">
                      <img src="<%= pokemon.imageUrl %>" class="img-fluid" width="150" alt="Pokemon Image">
                      <p class="d-flex align-items-center justify-content-center m-1"><ion-icon name="flash-outline"></ion-icon> <%= pokemon.cp %></p>
                      <hr>
                      <select id="select-modal-<%= index %>" name="select-modal-<%= index %>" class="form-select" aria-label="Default select example">
                        <% pokedex.forEach((pk, i) => { %>
                          <% if(i !== index){ %>
                            <option value="<%= pk.cp %>"><%= pk.name.toUpperCase() %> | <%= pk.cp %></option>
                          <% } %>
                        <% }) %>
                      </select>
                      <label class="mt-3 mb-2">Selecione o fragmento: </label>
                      <select id="select-modal-fragment-<%= index %>" name="select-modal-fragment-<%= index %>" class="form-select" aria-label="Default select example">
                          <% pokemon.attribute.split(',').forEach(attr => { %>
                            <option value="<%= attr %>"><%= attr.toUpperCase() %></option>
                          <% }) %>
                      </select>
                      <p class="lead text-danger mt-3" style="font-size: 14px;">O pokémon escolhido para o fortalecimento será removido da sua pokédex.</p>
                    </div>

                  <script>
                    document.querySelector('#fortalecer-form-<%= index %>').addEventListener('submit', async (e) => {
                      e.preventDefault();
                      const toast = new bootstrap.Toast(toastLiveExample)

                      const formData = new FormData(e.target);

                      const trainerId = '<%= trainer.id %>';
                      const pokemonId = '<%= pokemon.id %>';
                      const cp = Number(formData.get('select-modal-<%= index %>'));
                      const fragment = formData.get('select-modal-fragment-<%= index %>');

                      await fetch('/strengthen', {
                        method: 'post',
                        headers: {
                          'Accept': 'application/json',
                          'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                          trainerId,
                          pokemonId,
                          cp,
                          fragment,
                          pokemonCp: Number('<%= pokemon.cp %>')
                        })
                      }).then(response => {
                        if(response.ok) {
                          window.location.replace(window.location.href + '?success=true')
                        }else{
                          toastLiveExample.classList.remove('bg-success')
                          toastLiveExample.classList.add('bg-danger')
                          messageTitle.innerHTML = 'Erro'
                          message.innerHTML = `Algo não funcionou corretamente.`
                          toast.show()
                        }
                      })
                    })
                  </script>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                      <button type="submit" class="btn btn-success">Fortalecer</button>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
        </form>
          <hr>
          <div class="container pokemon-type-<%= index %>">
              <% pokemon.attribute.split(',').forEach((attr) => { %>
                <% if(attr === "fire" || attr === "fairy"){ %>
                  <span class="badge rounded-pill bg-danger fragment"><%= attr.toUpperCase() %></span>
                <% }else if(attr === "grass" || attr === "bug"){ %>
                  <span class="badge rounded-pill bg-success fragment"><%= attr.toUpperCase() %></span>
                <% }else if(attr === "poison" || attr === "psychic" || attr === "dark" || attr === "ghost") { %>
                  <span class="badge rounded-pill bg-dark fragment"><%= attr.toUpperCase() %></span>
                <% }else if(attr === "water" || attr === "flying" || attr === "ice"){ %>
                  <span class="badge rounded-pill bg-info fragment"><%= attr.toUpperCase() %></span>
                <% }else if(attr === "electric"){%>
                  <span class="badge rounded-pill bg-warning fragment"><%= attr.toUpperCase() %></span>
                <%}else if(attr === "rock" || attr === "ground" || attr === "fighting"){ %>
                  <span class="badge rounded-pill bg-secondary fragment"><%= attr.toUpperCase() %></span>
                <% }else {%>
                  <span class="badge rounded-pill bg-primary fragment"><%= attr.toUpperCase() %></span>
                <% } %>
              <% }) %>
          </div>
        </div>
        </div>
    <%  }) %>
    <% }else{ %>
      <p>Você não tem pokémons com esse nome</p>
    <% } %>
  </div>

  <%- include('./components/Scripts') %>
  <% if(success){  %>
    <script>
      const toastSuccess = new bootstrap.Toast(toastLiveExample)
      toastLiveExample.classList.add('bg-success')
      messageTitle.innerHTML = 'Fotalecido'
      message.innerHTML = `Pokémon fortalecido com sucesso!`
      toastSuccess.show()
    </script>
  <% } %>
</body>
</html>
